*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
    background-color: #dfe6e9;
    display: grid;
    place-items: center;
}

.container{
    display: flex;
    width: 800px;
    height: 600px;
    background-color: #333;
    box-shadow: rgba(0, 0,0,0.15) 2px 2px 2px;
    user-select: none;
}

.ledger{
    background-color: #2f3542;
    padding: 20px;
    flex: 1;
    color: #fff;
}

.ledger h2{
    color: #feca57;
    text-transform: uppercase;
}

.ledger h2,
.ledger h4,
.ledger h1{
    margin-bottom: 5px;
    padding: 5px;
}

.inc-exp-container{
    display: flex;
    padding: 5px;
    gap: 10px;
}

.inc-exp-container div{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 18px;
    flex: 1;
    border-radius: 5px;
}

.inc-exp-container div p{
    font-size: 22px;
}
.inc-exp-container div.inc{
    border: 3px solid #1dd1a1;
    color: #1dd1a1;
}

.inc-exp-container div.exp{
    border: 3px solid #ee5253;
    color: #ee5253;
}

#form{
    padding: 5px;
    margin-top: 20px;
}

.form-control{
    margin-top: 10px;
}
label{
    display: inline-block;
    margin: 10px 0;
    font-size: 18px;
}

input[type="text"],
input[type="number"]{
    border: 1px solid #dedede;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

.btn{
    background-color: #2e86de;
    color: #fff;
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.transition{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.transition h3{
    text-transform: uppercase;
    padding-bottom: 10px;
    border-color: 1px solid #f1f1f1;
    margin-bottom: 5px;
    color: #fff;
}

.trans{
    list-style-type: none;
}

.trans li{
    color: #fff;
    box-shadow: #f5f5f5 0px 1px 3px 0px , #f1f1f1 0px 0px 0px 1px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
}

.trans li.inc{
    border-left: 5px solid #1dd1a1;
}

.trans li.exp{
    border-left: 5px solid #ee5253;
}

.btn-del{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    opacity: 0;
}

.trans li:hover .btn-del{
    opacity: 1;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #3e86de;
    border-radius: 8px;
}